body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

select {
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-container {
  padding: 10px;
  background-color: #212529;
}

#convertedResult {
  font-size: 24px;
  margin: 0;
}
